@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.fontMontserrat {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 0.8rem;
	color: black;
    .bold { font-weight: 700;
    }
}
