*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* tengo problema con la imagen de la barandilla*/
/*solucion momentanea*/
body {
	overflow-x: hidden;
}

/* --- MENU en todos los html--- */

.header {
	background-color: map-get($bgColors, white);
	position: fixed;
	width: 100vw;
	z-index: 1000;
	.menu {
		height: 2rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 1.5rem;
		a {
			text-decoration: none;
			color: black;
		}
		div {
			margin-right: 1rem;
			margin-left: 1rem;
		}
	}
}

 
/* CONTENIDO PRINCIPAL INDEX */

.inicio{
	height: 85vh;
	.slideImagenesIndex {
		height: 80vh;
		margin-top: 2rem;
	}
	@media all and (max-width: 624px) { /* CELULARES */
		height: 90vh;
	}
}

#carouselInicioDesktop {
	.carousel-item img {
		height: 85vh;
		width: auto !important;
		margin: auto;
	}
	@media all and (max-width: 624px) { /* CELULARES */
		display: none;
	}
}

#carouselInicioMobile {
	.carousel-item img {
		height: 85vh;
		width: auto !important;
		margin: auto;
	}
	@media all and (min-width: 624px) { /* CELULARES */
		display: none;
	}
}

/* FOOTER INDEX LOGO - BARANDA Y CONTACTO */
#footerIndex {
	display: grid;
	grid-template-columns: min-content auto;
	.logoContainer { /* LOGO FOOTER */
		height: 10rem;
		display: flex; /*PARA PODER ALINEAR A LA BASE*/
		grid-row: 1 / span 2;
		align-self: end;
		.logoFraccion {	 /* LOGO FOOTER */
			align-self: self-end;
			z-index: 1;
			height: 45vw;
			min-height: 35rem;
			object-fit: contain; /**/
		}
	}
	@media all and (max-width: 624px) { /* CELULARES */
		display: inline-block;
		width: 100vw;
		.logoContainer {
			display: none;
		}
	}
	.contactIndex{
		display: flex;
		height: 12rem;
		margin: auto;
		div {
			flex-grow:1;
			padding: 2rem;
		}
		.contacto {
			p {
				padding: 0.2rem;
				margin-bottom: 0;//boostrap lo agranda
			}
		}
		.mapIframe {
			width: 200px;
		}	
		@media all and (max-width: 624px) { /* CELULARES */
				 display: block;
				 flex-direction: column;
				 height: auto;
				 flex-flow: wrap;
		}
	}
}

.barandilla{
	height: 15vh;
	display: flex;
	position: relative;
	justify-content: center;
	.barandillaImagen{
		height: 18vh;
		align-self: self-end;
		position: absolute;
		min-height: 80px;
	}
	.barandillaLogo {
		display: none;
	}
	@media all and (max-width: 624px) { /* CELULARES */
		height: 10vh !important;
		.barandillaLogo {
			display: block;
			position: absolute;
			width: 90vw;
			align-self: end;
			height: 50vh !important;
			object-fit: contain;
			min-height: 150px;
		}
		.barandillaImagen {
				object-fit: contain;
				z-index: 1;
			}
	}
}

/* -- ACTIVIDADES MOBILE FIRST -480PX -- */

.actividades { /**/
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 6vh;
	padding-top: 7vh;
	height: 94vh;
	grid-template-rows: 1fr 1fr 1fr;
	.actividadesIlustracionesGrid {/*Suplantar por ilustraciones*/
		height: 7vh;
		margin: 2rem;
		i {
			font-size: 4rem;
		}
	}
	.actividadesTitulos {
		height: auto;
	}
	.actividadesLogoDesktop {
		display: none;
		overflow-y: hidden;
		/*transform: translateY(60px);*/
		img {
			width: 30vw;
			padding-top: 23vh;
		}
	}
	@media all and (min-width: 480px) { /*TABLET*/
		/*display: grid;
		grid-template-columns: auto auto auto;
		padding-top: 10vh;*/
		padding-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		div {
			flex: 30vw;
		}
	}
	@media all and (min-width: 769px) { /*DESKTOP*/
		display: grid;
		grid-template-columns: auto auto auto auto;
		/*padding-top: 3vh;*/
		margin-right: 7rem;
		margin-left: 7rem;
		.actividadesLogoDesktop {
			display: inline !important; 
			grid-column: 2 / span 2;
			grid-row: 2 / span 2;
		}
	}
		
}

.actividadesContenido {
	@extend .noticiasContenido;
	height: 800px !important;
}

/* NOTICIAS HTML  MOBILE FIRST */

.noticiasHeader {
	position: relative;
}

.noticiasLogoContenedor {
	height: 3rem;
	.noticiasLogo {
		display: none;
		position: relative;
		z-index: 1;
		width: 160px;
		margin-left: 1.5rem;
		margin-top: -1rem;
	}
	@media all and (min-width: 480px) { /*desktop y tablet*/
		height: 6rem;
		.noticiasLogo {
			display: initial;
 		}
	}
}

.noticiasContenido {
	@include bookBackgound (1600px);
	padding-right: 10vw;
	padding-left: 10vw;
	white-space: pre-line;
	.noticiasTitulo {
		@extend .fontMontserrat;
		font-size: 1.5rem;
		text-align: center;
	}
	.noticiasArticuloContenido{
		@extend .fontMontserrat;
		font-size:1rem;
 	}
	.imgNoticias {
		display: flex;
		img {
			height: 200px;
			margin: auto;
		}
	}
}


/* CONTACTO HTML MOBILE FIRST */

.contactoBody {
	height: auto;
}

.bloqueContacto {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(230, 230, 230);
}

.contactoRedes {
	padding: 7rem 0 3rem 0;
	display: flex;
	width: 40% !important;
	margin: auto;
	div {
 		flex-grow: 1;
 	}
 	.contactoRedesLogos {
 		height: 2rem;
 		&:hover {
 			height: 2.5rem;
 		}
 	}
}

.contactoFormulario {
	background-color: rgb(230, 230, 230);
	height: 95vh;
	padding-top: 6rem;
	padding-right: 3rem; 
	padding-left: 3rem;
 	div {
		padding-top: 0.2rem;
	}
	.contactoMensaje {
		height: 7rem;
		width: -moz-available;/*no funciona en chrome*/
	}
	.contactoFormularioRazones {
		align-self: end;
	}
	.contactoFormularioBotones {
		display: flex;
		justify-content: center;
	}
	.contactoMapIframe {
		scale: 70%;
	}
}

.contactoContacto {
	height: 10rem;
	margin: auto;
	.contacto {
		height: 10rem;
	}
	@media all and (min-width: 480px) { /*desktop y tablet*/
		
	}
}

/* INSTALACIONES  MOBILE FIRST */

.instalacionesSalasLista {
	list-style: none;
	padding: 3rem;
	font-size: 1.2rem;
	li {
	padding: .3rem;
	
	}
}

.instalacionesLogoContenedor {
	height: 0.5rem !important;
}

.instalacionesImgContainer {
	height: 90vh;
}

 /* general estilo BEM */
.center {
	align-self: center;
	text-align: center;
	align-items: center;
}

.alignRight {
	text-align: right;
	align-self: end;

}

.redfooter{ /* FOOTER ROJO */
	background-color: $footers;
	height: 7vh;
	position: relative;
}








