@mixin bookBackgound($height:840px) {
    background-image: url('../images/fondo01.PNG');
	background-size: 100vw;
	background-position: center;
	height: $height;
	position: relative;
	@media all and (max-width: 760px) { 
		background-image: url("../images/fondo02.jpg");
	}

}
